/* Font files have not been configured for this request */
/*
     FILE ARCHIVED ON 07:16:47 Sep 01, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:33:18 Apr 21, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.684
  exclusion.robots: 0.025
  exclusion.robots.policy: 0.014
  esindex: 0.014
  cdx.remote: 8.386
  LoadShardBlock: 359.73 (6)
  PetaboxLoader3.datanode: 243.609 (8)
  PetaboxLoader3.resolve: 401.219 (3)
  load_resource: 369.835 (2)
*/