
#mask
{
    position: absolute;
    z-index: 9000;
    display: none;
}

#feedbackPopUp .window
{
    position: absolute;
    display: none;
    z-index: 9999;
}

.ui-dialog
{
    position: fixed;
    color: #666666;
    text-align: left;
    border: 1px solid #d6d6d6;
    background-color: #ffffff;
    padding: 15px 30px 0px 30px;
    width: 650px;
    top: 24% !important;
}

.ui-dialog-titlebar
{
    display:none;
}

.ui-widget-overlay
{
    position: fixed;
    top: 0px;
    left: 0px;
    display: block;
    haslayout: -1;
    background-color: #222222;
    filter: Alpha(Opacity=50);
    opacity: .5;
}

.ui-dialog-titlebar-close
{
    display: none;
}

#ui-dialog-title-feedbackContentDiv
{
    display: none;
}

#feedbackContentDiv
{
    overflow: hidden;
}

#feedbackCloseButton
{
    position: absolute;
    top: -35px;
    cursor: pointer;
}

/*
     FILE ARCHIVED ON 17:25:02 Oct 30, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:45:07 Apr 21, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.863
  exclusion.robots: 0.022
  exclusion.robots.policy: 0.01
  esindex: 0.01
  cdx.remote: 23.257
  LoadShardBlock: 117.452 (3)
  PetaboxLoader3.datanode: 156.091 (5)
  load_resource: 241.374 (2)
  PetaboxLoader3.resolve: 151.689 (2)
*/