
/* Reset {{{ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
    outline: 0;
}
body {
    line-height: 1;
    color: black;
    background: white;
}
ol, ul {
    list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
/* }}} */
/* .clearfix {{{ */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}
/* }}} */
/* Center {{{ */
body {
    text-align: center;
}

#page {
    margin: 0 auto;
    text-align: left;
}
/* }}} */

body {
    background-color: #ffffff;
    color: #000000;
    font-family: "Georgia", "Verdana", "Times New Roman", "Times";
    font-size: 1em;
    line-height: 1.3em;
}

#page {
    width: 62.8em;
}

#header {
    margin: 0 3em;
    margin-bottom: 1em;
    margin-top: 1em;
    width: 39.5em;
}

#publication {
    float: left;
}

#copy {
    margin: 1em 3em;
    text-align: justify;
}

#image {
    /*border: 1px solid #aaaaaa;*/
    margin: 1.5em auto;
    text-align: center;
}

#content {
    float: left;
    width: 45.5em;
}

#copyright {
    border-top: 1px solid #000000;
    text-align: center;
    width: 100%;
}

.amazon {
    font-size: .8em;
    height: 240px;
    margin: 6em auto;
    text-align: center;
    width: 120px;
}

#sidead {
    height: 600px;
    margin: 2em auto;
    width: 160px;
}

#upperad {
    height: 60px;
    margin: 1.5em auto;
    text-align: center;
    width: 234px;
}

#lowerad {
    height: 90px;
    margin-top: 2em;
    width: 728px;
}

#sidebar {
    float: left;
    font-size: 1.1em;
    width: 15.5em;
}

#twitter,
#college {
    font-size: 0.8em;
    margin: 0.8em 0;
    text-align: center;
}

#contact {
    margin: 1.5em;
    text-align: center;
}

#donate {
    float: right;
    height: 23px;
    text-align: center;
}

.social,
.numeral {
    float: right;
}

#menu {
    font-size: .8em;
    margin: 1.5em;
    text-align: center;
}

#name {
    font-weight: bold;
}

#contact a:link,
#contact a:visited {
    border-bottom-color: #000000;
    color: #000000;
}

.drop {
    float: left;
    font-size: 4.55em;
    line-height: .8em;
}

.highlight {
    font-weight: bold;
}

/* Typogrify {{{ */
.amp {
    font-family: "Baskerville", "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua";
    font-style: italic;
}

.squo {
    margin-left: -0.18em;
}

.dquo {
    margin-left: -0.38em;
}
/* }}} */
/* Links {{{ */
a {
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    text-decoration: none;
}

a:link {
    border-bottom-color: #28a848;
    color: #28a848;
    /*color: #4444ff;*/
}

a:visited {
    border-bottom-color: #707070; 
    color: #707070;
}

a:hover {
    border-bottom-color: #ff0000;
    color: #ff0000;
}
/* }}} */
/* Headings {{{ */
h1, h2, h3 {
    font-family: "Verdana", "Helvetica", "Arial";
}

h1 {
    font-size: 0.9750000000000001em;
    line-height: 1.0em;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-size: 1.3em;
    line-height: 1.0em;
}

.h2 {
    border-bottom: 2px solid #000000;
    margin-bottom: 1.3em;
}

h3 {
    font-weight: bold;
    font-size: 1.15em;
    line-height: 1.0em;
    padding: 1em 0 1em 0;
}

h4 {
    font-weight: bold;
}
/*h2 {
    margin-left: 1.5em;
}*/

h3 {
    margin-bottom: -5px;
}
/* }}} */
/* Text {{{ */
p {
    text-indent: 1.5em;
}

p.first,
blockquote + p {
    text-indent: 0;
}

em {
    font-style: italic;
}
/* }}} */
/* Syntax {{{ */
.syntax {
    background-color: #f0f0ff;
    font-family: "Courier", "Courier New", "Lucida Console";
    letter-spacing: -.7px;
}

blockquote .syntax {
    white-space: pre;
}
/* }}} */
/* Blocks {{{ */
blockquote,
.inset {
    margin-bottom: 1.3em;
    margin-top: 1.3em;
}

blockquote {
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.blockquote_,
.inset_ {
    border-style: dashed;
    margin: -0.4em -0.5em;
    overflow: auto;
    padding: 0.4em 0.5em;
}

.blockquote_ {
    background-color: #f0f0ff;
    border-color: #000000;
    border-width: 1px;
    width: 35.9em;
}

.inset_ {
    background-color: #ffffd0;
    border-color: #d0b078;
    border-width: 1px;
    width: 39.5em;
}
/* }}} */
/* Lists {{{ */
ul {
    margin-left: 1.5em;
    margin-right: 1.5em;
    list-style-type: square;
    list-style-position: outside;
}

ul.notfirst {
    margin-top: 1.3em;
    margin-bottom: 1.3em;
}

li {
    margin-bottom: 0.15em;
    margin-top: 0.15em;
}
/* }}} */


/*
     FILE ARCHIVED ON 10:33:45 Oct 09, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:57:27 May 03, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.63
  exclusion.robots: 0.031
  exclusion.robots.policy: 0.016
  esindex: 0.017
  cdx.remote: 51.287
  LoadShardBlock: 440.318 (3)
  PetaboxLoader3.datanode: 1359.294 (4)
  PetaboxLoader3.resolve: 168.006 (2)
  load_resource: 1090.272
*/