<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://www.dl.dropboxusercontent.com/s/g8lx1t1shu5v17o/plex353.ipa?dl=0</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://mtmdev.org/ipa-content/plex153.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.plexapp.plex</string>
				<key>bundle-version</key>
				<string>3.5.3</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Plex</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
