.fadeContainer {
  display:inline;
}

/*
     FILE ARCHIVED ON 04:00:37 Mar 03, 2009 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:31:49 May 03, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.486
  exclusion.robots: 0.023
  exclusion.robots.policy: 0.014
  esindex: 0.011
  cdx.remote: 7.995
  LoadShardBlock: 100.932 (3)
  PetaboxLoader3.datanode: 86.143 (4)
  PetaboxLoader3.resolve: 162.332 (2)
  load_resource: 194.814
*/