/* Font files have not been configured for this request */
/*
     FILE ARCHIVED ON 21:45:14 Dec 31, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:30:30 Apr 26, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.93
  exclusion.robots: 0.042
  exclusion.robots.policy: 0.02
  esindex: 0.017
  cdx.remote: 15.711
  LoadShardBlock: 998.156 (6)
  PetaboxLoader3.datanode: 594.058 (8)
  PetaboxLoader3.resolve: 319.758 (3)
  load_resource: 347.428 (2)
*/